{{ header }}
<div id="account-address">
  <div id="breadcrumb" class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb-tree">
            {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
             {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% if content_top %}
    <div class="section">
      <div class="container">
        <div class="col-sm-12">{{ content_top }}</div>
      </div>
    </div>
    {% endif %}
    <div class="section">
      <div class="container">
        {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div id="content">
        <h3>{{ text_address_book }}</h3>
        {% if addresses %}
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              {% for result in addresses %}
               <form  action="{{ result.delete }}" method="post" enctype="multipart/form-data" id="form-address-{{ result.address_id }}">
              <tr>
                <td class="text-left">{{ result.address }}</td>
                <td class="text-right"><a href="{{ result.update }}" class="btn btn-info">{{ button_edit }}</a> &nbsp; 
                <a href = "{{ result.delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="return confirm('{{ text_confirm }}')">{{ button_delete }}</a></td>
              </tr>
              </form>
              {% endfor %}
            </table>
          </div>
          {% else %}
          <p>{{ text_empty }}</p>
          {% endif %}
      
        <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
          <div class="pull-right"><a href="{{ add }}" class="btn btn-primary">{{ button_new_address }}</a></div>
        </div>

         </div> <!-- /end id content -->
        </div> <!-- /end class container -->
    </div><!-- /end section --> 
   {% if content_bottom %}
    <div class="section">
      <div class="container">
        <div class="col-sm-12">{{ content_bottom }}</div>
      </div>
    </div>
    {% endif %}
<!-- /end id -->
</div>
{{ footer }} 
